{% extends "dq/base.html" %}

{% block title %}予約の一覧{% endblock title %}

{% block content %}
    {% if is_patient %}
      <h4 class="mt-4 border-bottom">患者の予約一覧</h4>
    {% else %}
      <h4 class="mt-4 border-bottom">予約の一覧</h4>
    {% endif %}
    <a href="{% url 'dq:appointment_add' %}" class="btn btn-primary btn-sm my-3">追加</a>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">予約日</th>
          <th scope="col">患者名</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in appointments %}
        <tr>
          <th scope="row">{{ appointment.id }}</th>
          <td>{{ appointment.bookDateTime }}</td>
          <td>{{ appointment.patient }}</td>
          <td>
            <a href="{% url 'dq:appointment_mod' appointment_id=appointment.id %}" class="btn btn-outline-primary btn-sm">修正</a>
            <a href="{% url 'dq:appointment_del' appointment_id=appointment.id %}" class="btn btn-outline-danger btn-sm">削除</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% if is_patient %}
      <a href="{% url 'dq:patient_list' %}" class="btn btn-secondary btn-sm">戻る</a>
    {% endif %}
{% endblock content %}